---
import ColorScheme from "./colorscheme/Head.astro";
import Fonts from "./Fonts.astro";
---

<!DOCTYPE html>
<html class="h-full antialiased" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <Fonts />
    <slot name="head" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <ColorScheme />
  </head>
  <body
    class="h-full flex flex-col bg-gray-50 dark:bg-gray-900 text-gray-900 dark:text-gray-50"
  >
    <slot />
  </body>
</html>
