---
import ColorScheme from "./colorscheme/Head.astro";
---

<!DOCTYPE html>
<html class="h-full antialiased" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link
      rel="preload"
      href="/static/fonts/lexend-latin.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <slot name="head" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <ColorScheme />
  </head>
  <body
    class="h-full flex flex-col bg-gray-1 text-gray-12 font-light selection:bg-indigo-5"
  >
    <slot />
  </body>
</html>
