---
import ColorScheme from "./colorscheme/Head.astro";
---

<!DOCTYPE html>
<html class="h-full antialiased" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link
      rel="preload"
      href="/static/fonts/general-sans.woff2?v=1"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <slot name="head" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <ColorScheme />
  </head>
  <body
    class="text-gray-12 selection:bg-indigo-4 h-full bg-white dark:bg-black"
  >
    <slot />
  </body>
</html>
