---
import Html from "components/html.astro";
import Nav from "components/navbar.astro";
---

<Html title="No Vibe" description="Not Found" robots="noindex">
  <Nav />
  <main class="px-4 text-center">
    <div class="py-12">
      <p class="font-mono text-2xl font-bold text-rose-500">404</p>
      <h1 class="text-4xl font-bold">Page not found</h1>
    </div>
  </main>
</Html>
