---
import Html from "@shared/Html.astro";
import Head from "@site/Head.astro";
import Header from "@site/header/Header.astro";
import Footer from "@site/footer/Footer.astro";
---

<Html>
  <Head slot="head" title="No Vibe" description="Not Found" />
  <Header />
  <main class="flex-1 px-4 text-center">
    <div class="py-16">
      <p class="text-xl font-mono font-bold text-plum-10">404</p>
      <h1 class="text-4xl font-bold tracking-tight sm:text-5xl">
        Page not found
      </h1>
      <p class="mt-2">Sorry, we couldn't find the page you're looking for.</p>
    </div>
  </main>
  <Footer />
</Html>
