---
import Html from "components/html.astro";
import Nav from "components/navbar.astro";
import Footer from "components/footer.astro";
import { CollectionEntry, getCollection } from "astro:content";
import { format } from "date-fns";

export async function getStaticPaths() {
  const pub = await getCollection("published");
  return pub.map((entry) => ({
    params: { path: entry.slug },
    props: { entry },
  }));
}

interface Props {
  entry: CollectionEntry<"published">;
}

const { entry } = Astro.props;
const {
  data: { title, description, pubDate, kind },
} = entry;
const { Content } = await entry.render();
---

<Html title={title} description={description} ogType="article">
  <Nav />
  <main class="flex-1 px-4">
    <article class="mx-auto max-w-prose break-words pb-12 sm:pb-24">
      <div class="flex flex-col items-start">
        <h1 class="text-2xl font-black leading-tight">
          {title}
        </h1>
        <div class="flex items-center space-x-1">
          <div class="text-sm text-zinc-600 dark:text-zinc-400">
            {
              kind === "article" ? (
                <span class="font-medium text-blue-600 dark:text-blue-400">Article</span>
              ) : kind === "note" ? (
                <span class="font-medium text-rose-600 dark:text-rose-400">Note</span>
              ) : null
            } published on {format(pubDate, "do MMM yy")}
          </div>
        </div>
      </div>
      <Content />
      <Footer />
    </article>
  </main>
</Html>
