---
import Html from "$lib/html.astro";
import Head from "$lib/head.astro";
import Header from "$lib/header.astro";
import Footer from "$lib/footer.astro";
import { CollectionEntry, getCollection } from "astro:content";
import * as mdx from "$lib/mdx/all";
import { formatDistanceToNowStrict } from "date-fns";

export async function getStaticPaths() {
  const pub = await getCollection("public");
  return pub.map((entry) => ({
    params: { path: entry.slug },
    props: { entry },
  }));
}

interface Props {
  entry: CollectionEntry<"public">;
}

const { entry } = Astro.props;

const {
  data: { title, description, pubDate, kind },
} = entry;
const { Content } = await entry.render();
---

<!-- TODO FIX -->
<Html>
  <Head slot="head" title={title} description={description} ogType="article" />
  <Header />

  <main class="flex-1 px-4">
    <article class="mx-auto max-w-prose break-words pb-12 sm:pb-24">
      <div class="flex flex-col items-start">
        <h1 class="text-xl font-black leading-tight sm:text-2xl">
          {title}
        </h1>
        <div class="flex items-center space-x-2">
          <div class="text-sm text-zinc-600 dark:text-zinc-400">
            {
              kind === "article" ? (
                <span class="font-medium text-blue-600 dark:text-blue-400">
                  Article
                </span>
              ) : kind === "note" ? (
                <span>Note</span>
              ) : null
            } published {
              formatDistanceToNowStrict(new Date(pubDate), { addSuffix: true })
            }
          </div>
        </div>
      </div>

      <Content components={mdx} />
      <Footer />
    </article>
  </main>
</Html>
