---
import Html from "@shared/Html.astro";
import Head from "@site/Head.astro";
import Header from "@site/header/Header.astro";
import Footer from "@site/footer/Footer.astro";
---

<Html>
  <Head slot="head" title="Vibing Dev" description="Vibing Dev" />
  <Header />
  <main class="flex-1"></main>
  <Footer />
</Html>
