---
import Html from "@shared/Html.astro";
import Head from "@site/Head.astro";
import Header from "@site/header/Header.astro";
import Footer from "@site/footer/Footer.astro";
---

<Html>
  <Head
    slot="head"
    title="vibing.dev"
    description="Outlet for whatever I'm vibing. Mostly web dev."
  />
  <Header />
  <main class="flex-1 px-4">
    <div>Under Construction.</div>
  </main>
  <Footer />
</Html>
