---
import { getCollection } from "astro:content";
import FeedItem from "components/feed-item.astro";
import Html from "components/html.astro";
import Nav from "components/navbar.astro";

let pub = await getCollection("published");
if (import.meta.env.PROD) pub = pub.filter((p) => !p.slug.startsWith("draft/"));
pub.sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime());
---

<Html title="vibing.dev" description="Outlet for whatever I'm vibing. Mostly web dev.">
  <Nav />
  <main class="px-4 pb-12" transition:animate="slide" transition:name="main">
    <ul class="mx-auto max-w-prose">
      {pub.map((entry) => <FeedItem entry={entry} />)}
    </ul>
  </main>
</Html>
