---
import Html from "@shared/Html.astro";
import Head from "@site/Head.astro";
import Header from "@site/Header.astro";
import FeedItem from "@site/FeedItem.astro";

const notes = await Astro.glob("./_notes/**/*.mdx");
const isPub = (d) => d.pubDate && (import.meta.env.DEV || !d.draft);
const pub = notes.filter(isPub);
const comp = (a, b) =>
  new Date(b.pubDate).getTime() - new Date(a.pubDate).getTime();
pub.sort(comp);
---

<Html>
  <Head
    slot="head"
    title="vibing.dev"
    description="Outlet for whatever I'm vibing. Mostly web dev."
  />
  <Header />
  <main class="pb-12 sm:px-4 md:px-8">
    <ul class="divide-gray-5 mx-auto max-w-prose divide-y">
      {pub.map((i) => <FeedItem {...i} />)}
    </ul>
  </main>
</Html>
