/* Prose. Adapted from https://github.com/tailwindlabs/tailwindcss-typography */

.prose {
  font-weight: var(--prose-base-weight);
  text-align: left;
  overflow-wrap: break-word;
}

.prose a {
  font-weight: calc(var(--prose-base-weight) + 100);
  color: hsl(var(--prose-link-color));
}

.prose a:hover {
  text-decoration: underline;
  text-decoration-color: hsl(var(--prose-link-dec-color));
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
}

.prose em {
  font-weight: calc(var(--prose-base-weight) + 100);
}

.prose strong {
  font-weight: calc(var(--prose-base-weight) + 200);
}

.prose p {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

.prose hr {
  margin-top: 2em;
  margin-bottom: 2em;
  color: hsl(var(--prose-hr-color));
}

.prose img {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

/* headings */

.prose h1 {
  font-weight: 900;
  font-size: 1.875em;
  line-height: 1.25;
  letter-spacing: -0.025em;
  margin-top: 0;
  margin-bottom: 1em;
}

.prose h2 {
  font-weight: 800;
  font-size: 1.5em;
  letter-spacing: -0.025em;
  margin-top: 2em;
  margin-bottom: 1em;
}

.prose h3 {
  font-weight: 700;
  font-size: 1.25em;
  letter-spacing: -0.025em;
  margin-top: 1.6em;
  margin-bottom: 0.6em;
}

.prose h4 {
  font-weight: 600;
  letter-spacing: -0.025em;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

/* block quotes */

.prose blockquote {
  margin-top: 1.6em;
  margin-bottom: 1.6em;
  padding-left: 1em;
  font-weight: calc(var(--prose-base-weight) + 100);
  font-style: italic;
  border-left-width: 0.25rem;
  border-left-color: hsl(var(--prose-quote-color));
}

/* lists */

.prose ul {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  padding-left: 1.625em;
  list-style: disc;
}

.prose ol {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  padding-left: 1.625em;
  list-style-type: decimal;
}

.prose li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.prose ul > li {
  padding-left: 0.375em;
}

.prose ol > li {
  padding-left: 0.375em;
}

.prose ol > li::marker {
  font-weight: calc(var(--prose-base-weight) + 100);
}

.prose > ul > li p {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

.prose > ul > li > *:first-child {
  margin-top: 1.25em;
}

.prose > ul > li > *:last-child {
  margin-bottom: 1.25em;
}

.prose > ol > li > *:first-child {
  margin-top: 1.25em;
}

.prose > ol > li > *:last-child {
  margin-bottom: 1.25em;
}

ul ul,
ul ol,
ol ul,
ol ol {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

/* code */

.prose code {
  font-weight: var(--prose-code-weight);
  letter-spacing: -0.025em;
}

.prose :not(pre) code {
  font-weight: calc(var(--prose-code-weight) + 100);
  color: hsl(var(--prose-code-color));
}

.prose pre {
  font-size: 0.875em;
  margin-top: 2em;
  margin-bottom: 2em;
}

/* table */

table {
  font-size: 0.875em;
  line-height: 1.75;
}
thead th {
  padding-right: 0.6em;
  padding-bottom: 0.6em;
  padding-left: 0.6em;
}
thead th:first-child {
  padding-left: 0;
}

thead th:last-child {
  padding-right: 0;
}
tbody td,
tfoot td {
  padding-top: 0.6em;
  padding-right: 0.6em;
  padding-bottom: 0.6em;
  padding-left: 0.6em;
}

tbody td:first-child,
tfoot td:first-child {
  padding-left: 0;
}

tbody td:last-child,
tfoot td:last-child {
  padding-right: 0;
}

table {
  width: 100%;
  table-layout: auto;
  text-align: left;
  margin-top: 2em;
  margin-bottom: 2em;
}

thead {
  border-bottom-width: 1px;
  border-bottom-color: hsl(var(--prose-hr-color));
}
thead th {
  font-weight: calc(var(--prose-base-weight) + 200);
  vertical-align: bottom;
}

tbody tr {
  border-bottom-width: 1px;
  border-bottom-color: hsl(var(--prose-hr-color));
}

tbody tr:last-child {
  border-bottom-width: 0;
}

tbody td {
  vertical-align: baseline;
}

tfoot {
  border-top-width: 1px;
  border-bottom-color: hsl(var(--prose-hr-color));
}

tfoot td {
  vertical-align: top;
}
