---
const inner = await Astro.slots.render("default");
---

<a
  class:list={[
    Astro.props.class,
    "text-teal-10 inline-block font-normal underline underline-offset-2 decoration-2 decoration-teal-5 hover:decoration-teal-10",
  ]}
  {...Astro.props}
>
  <slot />
</a>
