<a
  class:list={[
    Astro.props.class,
    "text-teal-600 dark:text-teal-400 inline-block font-normal underline underline-offset-2 decoration-2 decoration-teal-500/30 hover:decoration-teal-500",
  ]}
  {...Astro.props}
>
  <slot />
</a>
