<a
  class:list={[
    Astro.props.class,
    "text-emerald-600 dark:text-emerald-400 inline-block font-normal underline underline-offset-2 decoration-2 decoration-emerald-500/30 hover:decoration-emerald-500",
  ]}
  {...Astro.props}
>
  <slot />
</a>
