---
import type { CollectionEntry } from "astro:content";
import { format } from "date-fns";

interface Props {
  entry: CollectionEntry<"published">;
}
const { entry } = Astro.props;
const {
  slug,
  data: { title, description, pubDate, kind },
} = entry;
const { Content } = await entry.render();
---

<li class="pb-20">
  <div class="flex flex-col items-start">
    <a
      class="text-2xl font-bold leading-tight decoration-zinc-900 decoration-2 underline-offset-2 hover:underline dark:decoration-white"
      href={slug}
    >
      {title}
    </a>
    <div class="flex items-center space-x-1">
      <div class="text-sm text-zinc-600 dark:text-zinc-400">
        {
          kind === "article" ? (
            <span class="font-medium text-blue-600 dark:text-blue-400">Article</span>
          ) : kind === "note" ? (
            <span class="font-medium text-rose-600 dark:text-rose-400">Note</span>
          ) : null
        } published on {format(pubDate, "do MMM yy")}
      </div>
    </div>
  </div>
  <div class="prose dark:prose-invert">
    {
      kind === "article" ? (
        <p class="my-5 break-words leading-snug">{description}</p>
      ) : kind === "note" ? (
        <Content />
      ) : null
    }
  </div>
</li>
