---
import CoffeeIcon from "icons/tabler/cup.svelte";
import HomeIcon from "icons/hero/outline/home-modern.svelte";
import ReplyIcon from "icons/hero/outline/envelope.svelte";
import FeedbackIcon from "icons/hero/outline/chat-bubbles.svelte";
import Link from "components/markdoc/link.astro";
---

<div class="flex flex-row flex-wrap items-center justify-around gap-4 pt-8 sm:pt-16">
  <Link class="inline-flex items-center" href="/">
    <HomeIcon class="mr-1 h-5 w-5" />
    <span>Home</span>
  </Link>
  <Link
    class="inline-flex items-center"
    href={`mailto:feedback@vibing.dev?subject=${encodeURIComponent(
      `Feedback ${Astro.url.pathname}`
    )}`}
  >
    <ReplyIcon class="mr-1 h-5 w-5" />
    <span>Reply</span>
  </Link>
  <Link class="inline-flex items-center" href="https://github.com/mrmcc3/vibing-dev/discussions">
    <FeedbackIcon class="mr-1 h-5 w-5" />
    <span>Feedback</span>
  </Link>
  <Link class="inline-flex items-center" href="https://donate.stripe.com/eVaaG7alP5Ks7hS288">
    <CoffeeIcon class="mr-1 h-5 w-5" />
    <span>Buy me a coffee</span>
  </Link>
</div>
