<div
  class:list={[
    "prose prose-zinc dark:prose-invert max-w-none",
    // fences (code blocks)
    "prose-pre:-mx-4 prose-pre:rounded-none prose-pre:sm:rounded-md",
    "prose-pre:border-y prose-pre:border-zinc-400/20 prose-pre:sm:border-x",
    // inline code
    "prose-code:text-fuchsia-600 prose-code:dark:text-fuchsia-400",
    "prose-code:before:content-[] prose-code:after:content-[]",
    // blockquote
    "prose-blockquote:border-zinc-900 prose-blockquote:dark:border-zinc-100",
    // image
    "prose-img:rounded-md prose-img:mx-auto",
  ]}
>
  <slot />
</div>
