:root {
  --plum1: 292deg 90% 99.4%;
  --plum2: 300deg 100% 98.6%;
  --plum3: 299deg 71.2% 96.4%;
  --plum4: 299deg 62% 93.8%;
  --plum5: 298deg 56.1% 90.5%;
  --plum6: 296deg 51.3% 85.8%;
  --plum7: 295deg 48.2% 78.9%;
  --plum8: 292deg 47.7% 70.8%;
  --plum9: 292deg 45% 51%;
  --plum10: 292deg 50.2% 46.9%;
  --plum11: 292deg 60% 42.5%;
  --plum12: 291deg 66% 14%;
}

.dark {
  --plum1: 301deg 20% 9.4%;
  --plum2: 300deg 29.8% 11.2%;
  --plum3: 298deg 34.4% 15.3%;
  --plum4: 297deg 36.8% 18.3%;
  --plum5: 296deg 38.5% 21.1%;
  --plum6: 295deg 40.4% 24.7%;
  --plum7: 294deg 42.7% 30.6%;
  --plum8: 292deg 45.1% 40%;
  --plum9: 292deg 45% 51%;
  --plum10: 295deg 50% 55.4%;
  --plum11: 300deg 60% 62%;
  --plum12: 296deg 74% 95.7%;
}
