@layer base {
  :root {
    --teal1: 165deg 60% 98.8%;
    --teal2: 169deg 64.7% 96.7%;
    --teal3: 169deg 59.8% 94%;
    --teal4: 169deg 53.1% 90.2%;
    --teal5: 170deg 47.1% 85%;
    --teal6: 170deg 42.6% 77.9%;
    --teal7: 170deg 39.9% 68.1%;
    --teal8: 172deg 42.1% 52.5%;
    --teal9: 173deg 80% 36%;
    --teal10: 173deg 83.4% 32.5%;
    --teal11: 174deg 90% 25.2%;
    --teal12: 170deg 50% 12.5%;
  }

  .dark {
    --teal1: 168deg 48% 6.5%;
    --teal2: 169deg 77.8% 7.1%;
    --teal3: 170deg 76.1% 9.2%;
    --teal4: 171deg 75.8% 11%;
    --teal5: 171deg 75.7% 12.8%;
    --teal6: 172deg 75.8% 15.1%;
    --teal7: 172deg 76.7% 18.6%;
    --teal8: 173deg 80.2% 23.7%;
    --teal9: 173deg 80% 36%;
    --teal10: 174deg 83.9% 38.2%;
    --teal11: 174deg 90% 40.7%;
    --teal12: 166deg 73% 93.1%;
  }
}
