/* https://www.fontshare.com/fonts/general-sans */

@font-face {
  font-family: "General Sans";
  font-style: normal;
  font-weight: 200 700;
  font-display: optional;
  src: url("/static/fonts/general-sans.woff2?v=1") format("woff2");
}

@font-face {
  font-family: "General Sans";
  font-style: italic;
  font-weight: 200 700;
  font-display: optional;
  src: url("/static/fonts/general-sans-italic.woff2?v=1") format("woff2");
}
