/* https://www.fontshare.com/fonts/satoshi */

@font-face {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 300 900;
  font-display: optional;
  src: url("/static/fonts/satoshi.woff2?v=1") format("woff2");
}

@font-face {
  font-family: "Satoshi";
  font-style: italic;
  font-weight: 300 900;
  font-display: optional;
  src: url("/static/fonts/satoshi-italic.woff2?v=1") format("woff2");
}
