/* https://www.fontshare.com/fonts/switzer */

@font-face {
  font-family: "Switzer";
  font-style: normal;
  font-weight: 100 900;
  font-display: optional;
  src: url("/static/fonts/switzer.woff2?v=1") format("woff2");
}

@font-face {
  font-family: "Switzer";
  font-style: italic;
  font-weight: 100 900;
  font-display: optional;
  src: url("/static/fonts/switzer-italic.woff2?v=1") format("woff2");
}
