---
import ColorSchemeToggle from "@shared/colorscheme/Toggle.svelte";
const showInfo = !Astro.url.pathname.startsWith("/site-info");
---

<header class="p-4 mb-12 flex items-center justify-between">
  <a aria-label="home" href="/" class="flex items-center text-plum-10">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="currentColor"
      class="w-8 h-8 mr-1"
      aria-hidden="true"
    >
      <path
        fill-rule="evenodd"
        d="M2.25 5.25a3 3 0 013-3h13.5a3 3 0 013 3V15a3 3 0 01-3 3h-3v.257c0 .597.237 1.17.659 1.591l.621.622a.75.75 0 01-.53 1.28h-9a.75.75 0 01-.53-1.28l.621-.622a2.25 2.25 0 00.659-1.59V18h-3a3 3 0 01-3-3V5.25zm1.5 0v7.5a1.5 1.5 0 001.5 1.5h13.5a1.5 1.5 0 001.5-1.5v-7.5a1.5 1.5 0 00-1.5-1.5H5.25a1.5 1.5 0 00-1.5 1.5z"
        clip-rule="evenodd"></path>
    </svg>
    <div
      class="font-black text-3xl text-transparent bg-gradient-to-r from-plum-10 via-indigo-10 to-teal-10 bg-clip-text"
    >
      Vibing
    </div>
  </a>
  <div class="flex-1"></div>
  {
    showInfo && (
      <a
        href="/site-info"
        aria-label="Site Info"
        class="text-gray-12 p-1 mr-2 transition-all sm:hover:motion-safe:scale-110 motion-reduce:transition-none"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-7 h-7"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z"
          />
        </svg>
      </a>
    )
  }
  <ColorSchemeToggle client:idle />
</header>
