---
import Html from "@shared/Html.astro";
import Head from "./Head.astro";
import Header from "./header/Header.astro";
import Footer from "./footer/Footer.astro";
const {
  frontmatter: { title, description, draft },
} = Astro.props;
---

<Html>
  <Head
    slot="head"
    title={title}
    description={description}
    ogType="article"
    noindex={draft}
  />
  <Header />
  <main class="flex-1 px-4">
    <article class="mx-auto max-w-prose prose">
      <slot />
    </article>
  </main>
  <Footer />
</Html>
