---
import { format } from "date-fns";
const {
  url,
  frontmatter: { title, description, minutesRead, pubDate },
} = Astro.props;
---

<li class="">
  <a
    class="text-lg font-semibold tracking-tighter text-teal-10 underline underline-offset-2 decoration-teal-6 sm:hover:decoration-teal-10"
    href={url}
  >
    {title}
  </a>
  <p class="font-light leading-snug break-words text-sm mt-1">{description}</p>
  <div class="flex space-x-2 text-sm mt-1">
    {pubDate && <span>{format(new Date(pubDate), "do MMM, yyyy")}</span>}
    <div class="inline-flex items-center">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-4 h-4 mr-1"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
      </svg>

      {minutesRead}
    </div>
  </div>
</li>
